.ux-icon-combo-icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 18px;
    height: 14px;
}

/* X-BROWSER-WARNING: this is not being honored by Safari */
.ux-icon-combo-input {
    padding-left: 25px;
}

.x-form-item-body .ux-icon-combo-icon {
    top: 4px;
    left: 5px;
}
.ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 3px 50% ! important;
    padding-left: 24px ! important;
}
